body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100vw; /* 추가 */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    display: flex;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .upload-section, .feedback-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* 업로드 영역 */
  .upload-section {
    background-color: #f0f4f8;
    border-right: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #drop-area {
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    /* max-width: 400px; */
    border-radius: 10px;
    background-color: #ffffff;
  }
  
  #preview img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  /* 피드백 영역 */
  .feedback-section {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  #feedbackResult {
    margin-top: 20px;
    width: 95%;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }
  